/* Layout */

.halfpage {
  height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
  max-width: 50vw;
  width: 50vw;
  overflow: hidden;
}

#page {
  display: flex;
  justify-content: center;
}

/* Discussion */

#discussion-comments {
  height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  overflow: scroll;
}

#new-comment-row {
  height: 200px;
  max-height: 200px;
  overflow: hidden;
}

#new-comment-form {
  width: 100%;
}

/* Transcript */

#transcript-lines-container {
  /* TODO: Update height once the branch with the lecture view layout has been merged into master */
  height: 30vh;
  overflow: auto;
}

#transcript-lines-container ul {
  list-style-type: none;
}
