/* Layout */

.halfpage {
  height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
  max-width: 50vw;
  width: 50vw;
  overflow: hidden;
}

#page {
  display: flex;
  justify-content: center;
}

/* Discussion */

.actions-bar {
  text-align: right;
}

.comment-content {
  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 5px;
}

.comment-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 20px;
}

discussion-comment {
  display: block;
}

#discussion-comments {
  height: calc(100vh - 206px);
  max-height: calc(100vh - 206px);
  overflow: scroll;
  padding-bottom: calc(100vh - 306px);
}

#new-comment-row {
  height: 150px;
  max-height: 150px;
  overflow: hidden;
}

#new-comment-form,
#reply-form {
  width: 100%;
}

#reply-form {
  margin-top: 20px;
}

.replies {
  border-left: #ddd solid 5px;
  margin-left: 8px;
  padding-left: 8px;
}

/* Transcript */

#scroll-banner {
  background-color: #4c8bf5;
  visibility: hidden;
}

#transcript-container {
  height: calc(100% - 390px);
}

#transcript-lines-container {
  height: calc(100% - 5rem);
  overflow: auto;
}

#transcript-lines-container ul {
  height: 100%;
  list-style-type: none;
}
