/* Layout */

body,
html {
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  overflow: hidden;
}

body {
  margin-bottom: 60px !important;
}

.halfpage {
  height: calc(100vh - 56px);
  overflow: hidden;
  width: 50vw;
}

#page {
  display: flex;
  justify-content: center;
}

/* Discussion */

.actions-bar {
  text-align: right;
}

.comment-content {
  background: #fff;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 5px;
}

.comment-header {
  display: block;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 20px;
}

#discussion {
  height: calc(100vh - 86px);
  margin: 15px;
  padding: 15px;
}

discussion-comment {
  display: block;
}

discussion-comment[highlighted] > [slot='header'] {
  font-weight: bold;
}

#discussion-comments {
  height: calc(100vh - 206px);
  overflow: scroll;
  padding-bottom: calc(100vh - 306px);
}

#new-comment-row {
  border-bottom: 2px solid #eee;
  overflow: hidden;
  padding-bottom: 10px;
}

#new-comment-row textarea {
  border: 2px solid #eee;
  margin: 2px;
  width: calc(100% - 4px);
}

#new-comment-types .btn {
  border-radius: 50px;
  margin: -8px 3px;
}

#new-comment-form,
#reply-form {
  width: 100%;
}

#reply-form {
  margin-top: 20px;
}

#reply-form textarea {
  border: 2px solid #eee;
  border-radius: 5px;
  margin-bottom: 5px;
}

.replies {
  border-left: 5px solid #ddd;
  margin-left: 8px;
  padding-left: 8px;
}

/* Transcript */

#transcript-container {
  height: calc(100% - 420px);
  margin: 15px;
  padding: 15px;
}

.transcript-line-timestamp {
  display: inline-block;
  width: 110px;
}

#transcript-lines-container {
  height: 100%;
  overflow: scroll;
}

#transcript-lines-container ul {
  list-style-type: none;
  padding: 0 0 calc(100vh - 560px);
}

/* Video */

iframe {
  display: block;
  width: 100%;
}

/* Feedback Icons */

#icons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#video-icons {
  display: flex;
  flex-direction: row;
}
