/* Layout */

body,
html {
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  width: 100vw;
}

body {
  margin-bottom: 60px !important;
}

.halfpage {
  height: calc(100vh - 56px);
  overflow: hidden;
  width: 50vw;
}

#page {
  display: flex;
  justify-content: center;
}

/* Discussion */

.actions-bar {
  text-align: right;
}

#cancel-reply {
  color: #555;
}

.comment-content {
  background: #fff;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 5px;
}

.comment-header {
  display: block;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 20px;
}

#discussion {
  height: calc(100vh - 86px);
  margin: 15px;
  padding: 15px;
}

#discussion .spinner-border {
  margin-left: 45%;
}

discussion-comment {
  display: block;
}

discussion-comment[highlighted] > [slot='header'] {
  font-weight: bold;
}

#discussion-comments {
  height: calc(100vh - 206px);
  overflow: scroll;
  padding-bottom: calc(100vh - 306px) !important;
}

#discussion-comments > discussion-comment > [slot='header'] {
  cursor: pointer;
}

#new-comment-row {
  border-bottom: 2px solid #eee;
  overflow: hidden;
  padding-bottom: 10px;
}

#new-comment-row textarea {
  border: 2px solid #eee;
  margin: 2px;
  width: calc(100% - 4px);
}

#new-comment-types .btn {
  border-radius: 50px;
  margin: -8px 3px;
}

#new-comment-form,
#reply-form {
  width: 100%;
}

#reply-form {
  margin-top: 20px;
}

#reply-form textarea {
  border: 2px solid #eee;
  border-radius: 5px;
  margin-bottom: 5px;
}

.replies {
  border-left: 5px solid #ddd;
  margin-left: 8px;
  padding-left: 8px;
}

/* Scroll Container */

.scroll-banner {
  background-color: #4c8bf5;
  cursor: pointer;
  visibility: hidden;
}

/* Transcript */

#transcript-container {
  height: calc(100% - 420px);
  margin: 15px;
  padding: 15px;
}

#transcript-container .spinner-border {
  margin-left: 40%;
}

#transcript-lines-container {
  height: 100%;
  overflow: scroll;
}

#transcript-lines-container ul {
  list-style-type: none;
  padding: 0 0 calc(100vh - 560px);
}

.transcript-line-timestamp {
  cursor: pointer;
  display: inline-block;
  width: 110px;
}

/* Video */

#video-container {
  height: 0;
  margin: 15px 0px 0px 15px;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

#player {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Comment Indicator */

.indicator {
  background-color: lightgray !important;
  color: black !important;
  font-size: 15px !important;
  font-weight: normal !important;
  height: 25px;
  margin-left: auto;
  padding-top: 5px !important;
  visibility: hidden;
}

/* Feedback Icons */

#icons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f9fa;
  margin: 75px 0px 60px 0px;
  border-radius: 0px 10px 10px 0px;
}

#icons h6 {
  margin: 0px 5px 10px 5px;
}

#video-icons {
  display: flex;
  flex-direction: row;
}

/* Feedback Icon Buttons */

.icon-button {
  background-color: #f8f9fa;
  outline: none;
  border: none;
  margin: 5px 10px 5px 10px;
}
