/* Global styling */

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/product-sans/ProductSansRegular.ttf') format('truetype');
}

* {
  font-family: 'Product Sans';
}

#footer {
  height: 60px;
  line-height: 60px;
  padding-top: 0px !important;
  position: absolute;
  width: 100%;
}

#header-text {
  text-decoration: none;
  color: inherit;
}

.navbar {
  background-color: #f3f3f3;
}

.navbar h2 {
  margin-bottom: 0 !important;
}

/* Zoomtube Buttons */

.zt-btn {
  border-color: #4c8bf5 !important;
  border-radius: 50px !important;
}

.zt-btn:hover {
  background-color: #4c8bf5 !important;
}

.btn-wide,
.btn-wider {
  font-size: 20px !important;
  height: 40px !important;
  padding: 0px !important;
  width: 150px !important;
}

.btn-wider {
  width: 200px !important;
}
