* {
  font-family: 'Product Sans';
}

html,
body {
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  overflow: hidden;
}

.halfpage {
  height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
  max-width: 50vw;
  width: 50vw;
  overflow: hidden;
}

#page {
  display: flex;
  justify-content: center;
}

#new-comment-row {
  height: 200px;
  max-height: 200px;
  overflow: hidden;
}

#new-comment-form {
  width: 100%;
}

#discussion-comments {
  height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  overflow: scroll;
}

body {
  margin-bottom: 60px !important;
}

#add-btn-cont {
  margin: 30px auto auto auto;
  width: 200px;
}

#add-btn-cont .btn,
#submit-btn-cont .btn {
  background-color: #4c8bf5 !important;
}

#add-btn-cont .btn,
#add-btn-cont .btn:hover {
  width: 200px !important;
}

#add-btn-cont .btn:hover,
#submit-btn-cont .btn:hover {
  background-color: #579ff7 !important;
}

.btn,
.btn:hover {
  border-color: #4c8bf5 !important;
  border-radius: 50px !important;
  font-size: 20px !important;
  height: 40px !important;
  padding: 0px !important;
  width: 150px !important;
}

.btn:hover {
  background-color: #4c8bf5 !important;
}

#footer {
  bottom: 0;
  height: 60px;
  line-height: 60px;
  padding-top: 0px !important;
  position: absolute;
  width: 100%;
}

#header-text {
  font-weight: 700;
  margin-bottom: 0 !important;
}

#lecture-list {
  margin: auto;
  width: 65%;
}

#list-cont {
  background-color: #f3f3f3;
  border-radius: 10px;
  margin: 150px auto auto auto;
  padding-bottom: 40px !important;
  width: 650px;
}

.list-group-item {
  border-radius: 5px !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}

#modal-form {
  margin: auto;
  width: 85%;
}

#modal-text {
  margin: auto;
  width: 70%;
}

.navbar {
  background-color: #f3f3f3;
}

#submit-btn-cont {
  margin: auto;
  width: 150px;
}

#submit-btn-cont .btn {
  background-color: #4c8bf5 !important;
}

#text-cont {
  padding-top: 25px;
  margin: auto;
  width: 50%;
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/product-sans/ProductSansRegular.ttf') format('truetype');
}
