/* Global styling */

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/product-sans/ProductSansRegular.ttf') format('truetype');
}

* {
  font-family: 'Product Sans';
}

.btn {
  border-color: #4c8bf5 !important;
  border-radius: 50px !important;
}

.btn-wide,
.btn-wider {
  font-size: 20px !important;
  height: 40px !important;
  padding: 0px !important;
  width: 150px !important;
}

.btn-wider {
  width: 200px !important;
}

body,
html {
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  overflow: hidden;
}

body {
  margin-bottom: 60px !important;
}

#footer {
  bottom: 0;
  height: 60px;
  line-height: 60px;
  padding-top: 0px !important;
  position: absolute;
  width: 100%;
}

.navbar {
  background-color: #f3f3f3;
}

/* List page */

#add-btn-cont {
  margin: 30px auto auto auto;
  width: 200px;
}

#add-btn-cont .btn,
#submit-btn-cont .btn {
  background-color: #4c8bf5 !important;
}

#add-btn-cont .btn:hover,
#submit-btn-cont .btn:hover {
  background-color: #579ff7 !important;
}

#header-text {
  font-weight: 700;
  margin-bottom: 0 !important;
}

#lecture-list {
  margin: auto;
  width: 65%;
}

#list-cont {
  background-color: #f3f3f3;
  border-radius: 10px;
  margin: 150px auto auto auto;
  padding-bottom: 40px !important;
  width: 650px;
}

.list-group-item {
  border-radius: 5px !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}

#modal-form {
  margin: auto;
  width: 85%;
}

#modal-text {
  margin: auto;
  width: 70%;
}

#submit-btn-cont {
  margin: auto;
  text-align: center;
}

#text-cont {
  padding-top: 25px;
  margin: auto;
  width: 50%;
}

/* View page */

.actions-bar {
  text-align: right;
}

.comment-content {
  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 5px;
}

.comment-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 20px;
}

#discussion-comments {
  height: calc(100vh - 206px);
  max-height: calc(100vh - 206px);
  overflow: scroll;
}

.halfpage {
  height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
  max-width: 50vw;
  width: 50vw;
  overflow: hidden;
}

#new-comment-row {
  height: 150px;
  max-height: 150px;
  overflow: hidden;
}

#new-comment-form,
#reply-form {
  width: 100%;
}

#page {
  display: flex;
  justify-content: center;
}

#reply-form {
  margin-top: 20px;
}

.replies {
  border-left: #ddd solid 5px;
  margin-left: 8px;
  padding-left: 8px;
}
